/* App.css */

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 20px; /* Adjust the bottom margin as needed */
}

/* Add this style to reduce space between content and footer */
main {
  margin-bottom: 20px;
}
